body {
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  color: #0d0d0d;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sr-only {
  position: absolute !important;
  clip: rect(
    1px 1px 1px 1px
  ); /* masque le contenu, mais le rend accessible pour les lecteurs d'écran */
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  white-space: nowrap;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.box_app {
  display: flex;
  text-align: center;
}
@media (max-width: 500px) {
  .box_app {
    flex-direction: column;
  }
}
.box_navHome {
  display: flex;
  justify-content: center;
}
.box_home,
.main_newEmployee {
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 500px) {
  .br {
    display: none;
  }
}

h1,
h2 {
  /* color:#676565; */
  color: #545252;
}

.main_newEmployee .pageApp_title {
  margin-top: 30px;
}

.main_ListEmployees .pageApp_title {
  margin-top: 20px;
}

.pageApp_title {
  margin-bottom: 20px;
  font-size: 2.4rem;
  /* color: #3f3f3f; */
  text-align: center;
}

@media (max-width: 500px) {
  .pageApp_title {
    font-size: 2rem;
  }
}

/* spinner */
#containerSpinner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner {
  margin-top: -400px;
  margin-left: -75px;
}

.spinner {
  height: 120px;
  width: 120px;
  border: 6px solid;
  border-color: #546a03 transparent #546a03 transparent;
  border-radius: 50%;
  animation: spin 1.4s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.textLink {
  margin: 0 auto;
}

.box_navHome .linkApp > svg {
  font-size: 5rem;
  height: 30%;
  margin-bottom: 30px;
  color: #728c14;
}

header .linkApp > svg {
  font-size: 2.8rem;
  color: #5a6e0e;
}

header .linkApp:hover {
  box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.5);
}

header .linkApp:hover,
.box_navHome .linkApp:hover {
  background: #b3d145;
}
.box_navHome .linkApp:hover {
  box-shadow: -40px 40px 40px rgba(0, 0, 0, 0.5);
}

.linkApp {
  display: flex;
  align-items: center;
  font-weight: bold;
  background: #a4c040;
  text-decoration: none;
  color: inherit;
}
.box_navHome .linkApp {
  flex-direction: column;
  width: 300px;
  height: 450px;
  padding: 30px;
  display: flex;
  border-left: 30px solid #7e9b16;
  transform: rotate(-5deg) skewX(10deg) scale(0.8);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

header .linkApp {
  width: 280px;
  height: 90px;
  padding: 10px;
  margin: 10px 30px 20px 30px;
  margin-left: 6px;
  border-left: 11px solid #7e9b16;
  transform: rotate(-2deg) skewX(10deg) scale(0.8);
  box-shadow: -40px 40px 40px rgba(0, 0, 0, 0.5);
}

.linkApp:before {
  content: '';
  height: 100%;
  background: #4f5f15;
  position: absolute;
  top: 0;
  left: 0;
}

.box_navHome .linkApp:before {
  width: 30px;
  transform: skewY(-45deg) translate(-57px, -43px);
}

header .linkApp:before {
  width: 16px;
  transform: skewY(-49deg) translate(-26px, -20px);
}

.linkApp:after {
  content: '';
  width: 106%;
  background: #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
}
.box_navHome .linkApp:after {
  height: 30px;
  transform: skewX(-45deg) translate(-11px, 30px);
}

header .linkApp:after {
  height: 17px;
  transform: skewX(-45deg) translate(-6px, 17px);
}

@media (max-width: 700px) {
  .box_navHome .linkApp:hover {
    box-shadow: -30px 30px 30px rgba(0, 0, 0, 0.5);
  }

  header .linkApp {
    margin-right: 10px;
  }
  header .linkApp .textLink {
    margin-left: 20px;
  }
  .box_navHome .linkApp > svg {
    font-size: 3rem;
    height: 25%;
    margin-bottom: 30px;
    color: #5a6e0e;
  }

  .box_navHome .linkApp {
    width: 160px;
    height: 240px;
    padding: 10px;
    margin-left: 6px;
    border-left: 12px solid #7e9b16;
    transform: rotate(-2deg) skewX(10deg) scale(0.8);
  }

  .box_navHome .linkApp:before {
    content: '';
    width: 16px;
    transform: skewY(-45deg) translate(-28px, -20px);
  }

  .box_navHome .linkApp:after {
    content: '';
    height: 17px;
    transform: skewX(-45deg) translate(-6px, 17px);
  }
}

.box_home {
  min-height: 100vh;
  background: linear-gradient(to bottom, transparent, rgb(255, 255, 255))
    rgb(214, 219, 220);
}

.box_home img {
  margin-top: 30px;
  width: 280px;
  height: 250px;
}

.main_newEmployee {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
}

@media (max-width: 900px) {
  .main_newEmployee {
    flex-direction: column;
  }
}

.formChangeEmployee input,
.main_newEmployee input {
  padding: 10px;
  padding-left: 20px;
  border: none;
  height: 40px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  outline: 1px solid rgb(220, 239, 232);
}

.main_newEmployee input {
  background: #fff;
}
.formChangeEmployee input {
  background: linear-gradient(to bottom, transparent, rgb(255, 255, 255))
    rgb(214, 219, 220);
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 1000px) {
  .box_home img {
    margin: 20px auto 0;
  } 

  .main_newEmployee header {
    width: 400px;
  }
}
@media (max-width: 900px) {
  .main_newEmployee {
    flex-direction: column;
  }

  .main_newEmployee header {
    width: 100%;
  }
}

.boxName {
  display: flex;
  justify-content: center;
}

.boxName .box_input {
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.box_formEntree {
  position: relative;
}

.boxDate {
  display: flex;
  justify-content: center;
}

.box_dateOfBirth,
.box_startDate,
.box_endDate {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.box_endDate .text_endDate,
.box_startDate .text_startDate,
.box_dateOfBirth .text_dateOfBirth {
  margin-right: 10px;
}

.box_startDate .css-1ralhbl-MuiFormControl-root-MuiTextField-root,
.box_dateOfBirth .css-1ralhbl-MuiFormControl-root-MuiTextField-root {
  vertical-align: middle;
}

/* .box_endDate .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root,
.box_startDate .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root,
.box_dateOfBirth .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  padding: 5px 5px 5px 5px;
} */

.box_startDate
  .css-1ralhbl-MuiFormControl-root-MuiTextField-root
  .MuiInputBase-input,
.box_dateOfBirth
  .css-1ralhbl-MuiFormControl-root-MuiTextField-root
  .MuiInputBase-input {
  height: 20px;
}

@media (max-width: 700px) {
  .boxDate {
    flex-direction: column;
  }
  .box_startDate {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .boxDate .box_startDate .text-startDate {
    margin-left: 0;
  }

  .box_endDate,
  .box_dateOfBirth {
    margin-right: 0;
    /* margin-top: 20px; */
    margin-bottom: 15px;
  }
}

@media (max-width: 500px) {
  .box_endDate,
  .box_startDate,
  .box_dateOfBirth {
    justify-content: space-between;
  }

  .box_endDate,
  .box_dateOfBirth,
  .box_startDate {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 450px) {
  .box_input {
    justify-content: space-between;
  }
  .box_input input {
    margin-right: 0;
  }
  .boxName .box_input {
    margin-right: 0;
    margin-left: 0;
  }
}

.errorMessage {
  position: absolute;
  margin: 0 0 0 20px;
  bottom: -20px;
  left: 0;
  color: #d32f2f;
}

.errorBorder {
  border: 1px solid #d32f2f;
}

.address {
  margin: 20px auto 10px;
}

fieldset,
select {
  border: 1px solid #57810b;
}

.box_State,
.box_Department {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box_State .p_label,
.box_Department .p_label {
  display: inline-block;
  margin-right: 10px;
}

.box_State li.selectedOption:hover,
.box_Department li.selectedOption:hover {
  background-color: #b1c46c;
}

.box_State li.focused,
.box_Department li.focused,
.box_State .dropdownMenu li:hover,
.box_Department .dropdownMenu li:hover {
  background-color: #cee389;
}

@media (max-width: 650px) {
  .boxName {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .address .box_streetCity {
    display: flex;
    flex-direction: column;
  }
  .address .box_streetCity label {
    margin-top: 8px;
  }
}

#zipCode {
  max-width: 330px;
}
@media (max-width: 650px), (min-width: 900px) and (max-width: 1000px) {
  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 20px;
  }
  #zipCode {
    margin-bottom: 20px;
  }

  .boxName {
    display: flex;
    justify-content: center;
  }

  .address label {
    margin-top: 8px;
  }
}

.box_titleModal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formAddModal {
  min-width: 500px;
  min-height: 300px;
}

/* .formAddModal.confirmationModal{
  background-color: #b9d851;
} */

.formAddModal {
  background: linear-gradient(to bottom, transparent, rgb(255, 255, 255))
    rgb(214, 219, 220);
  left: 50%;
}

.formAddModal,
.editEmployeeModal {
  position: fixed;
  top: 50%;
  max-height: 99%;
}

.editEmployeeModal {
  z-index: 999;
  background: linear-gradient(to bottom, transparent, rgb(255, 255, 255))
    rgb(214, 219, 220);
  right: 100px;
  height: auto;
}

.editEmployeeModal.deleteEmployeeModal .box_titleModal {
  border-bottom: 2px solid #e01111;
}
.editEmployeeModal .box_titleModal {
  border-bottom: 2px solid #677e11;
}

.formAddModal.confirmationModal .box_titleModal {
  border-bottom: 2px solid #677e11;
}

.formAddModal.errorConfirmationModal .box_titleModal {
  border-bottom: 2px solid #e01111;
}

.editEmployeeModal .box_titleModal,
.formAddModal .box_titleModal {
  margin-top: 30px;
}

.editEmployeeModal,
.formAddModal {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: -40px 40px 40px rgba(0, 0, 0, 0.7);
  padding: 20px 30px 20px 30px;
  border-radius: 8px;
}
.formAddModal {
  z-index: 9999;
}

.editEmployeeModal.deleteEmployeeModal,
.formAddModal.errorConfirmationModal {
  box-sizing: border-box;
  border: 5px solid #d32f2f;
}

.editEmployeeModal .box_changeModalName {
  display: flex;
  justify-content: center;
}

.editEmployeeModal .box_changeModalName .box_nameLeft,
.editEmployeeModal .box_changeModalName .box_nameRight {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.box_changeEmployeeData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box_nameRight {
  margin-right: 10px;
}

.box_nameLeft {
  margin-left: 10px;
}

.editEmployeeModal .box_changeModalName {
  margin-top: 20px;
  width: 300px;
}

.box_titleModal h2 {
  font-size: 1.6rem;
}

@media (max-width: 900px) {
  .editEmployeeModal {
    right: inherit;
    left: 50%;
  }
}
@media (max-width: 700px) {
  .editEmployeeModal .box_titleModal {
    margin-top: 40px;
  }
  .editEmployeeModal .box_btnsDelete {
    flex-direction: column;
  }
  .editEmployeeModal .box_btnsDelete button {
    margin-top: 20px;
  }
  .editEmployeeModal .address input {
    margin-top: 8px;
  }
  .formAddModal {
    min-width: 350px;
  }
  .box_titleModal h2 {
    font-size: 1.4rem;
  }

  .editEmployeeModal {
    overflow-y: auto;
  }
}

.formAddModal .iconCheckedModal,
.editEmployeeModal .iconCheckedModal {
  font-size: 2.3rem;
  margin-right: 20px;
  color: #545252;
}

.modal-title {
  padding-right: 20px;
}

.editEmployeeModal p {
  font-size: 1.1rem;
}

.formAddModal p {
  font-size: 1.3rem;
}

@media (max-width: 500px) {
  .iconCheckedModal {
    font-size: 2rem;
  }

  .editEmployeeModal,
  .formAddModal {
    width: 95%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .formAddModal p {
    font-size: 1rem;
  }
}

.btn_closeModal {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #677e11;
  border: none;
  color: #fff;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.btn_closeModal_icon {
  width: 25px;
  height: 25px;
}

.containerNewEmployee {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.containerNewEmployee select {
  background-color: #fbfbfb;
  text-align: center;
}

.containerNewEmployee input {
  background-color: #fbfbfb;
}

.titleService {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
  color: #494949;
}

.header_ListEmployees {
  background: linear-gradient(to bottom, transparent, rgb(226, 229, 229))
    rgb(214, 219, 220);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box_logoService {
  display: flex;
  width: 350px;
  align-items: center;
}

.header_ListEmployees img {
  height: 90px;
  margin-left: 20px;
}

@media (max-width: 1000px) {
   .header_ListEmployees img {
    margin: 10px 0 0 0;
    width: 90px;
    height: 70px;
  }
  .titleService {
    font-size: 1.5rem;
    margin-top:3px;
    margin-bottom:3px;
  }
  .box_logoService {
    width: 140px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

#create-employee {
  padding: 0 20px 20px 20px;
}

#create-employee input {
  margin: 10px;
}
#create-employee .address input {
  margin: 5px 10px 5px 10px;
}

#create-employee .boxName input {
  margin-bottom: 2px;
}

#create-employee select {
  margin: 20px 10px 10px;
}

#create-employee select {
  height: 30px;
}

.containerNewEmployee .btnFormSave {
  margin: 20px auto 30px;
}

.btnFormEdit {
  margin-bottom: 20px;
}

.box_btnsDelete {
  display: flex;
  margin: 20px auto;
}

.btnFormSave,
.btnFormArchive,
.btnFormEdit {
  padding: 10px 20px;
  margin-top: 10px;
  width: 300px;
}
.btnFormDelete,
.btnFormCancel {
  padding: 10px 10px;
  width: 180px;
  margin: 5px 20px;
}

.btnFormSave,
.btnFormDelete,
.btnFormCancel,
.btnFormArchive,
.btnFormEdit {
  text-align: center;
  color: #fff;
  border-radius: 25px;
  border: none;
  font-size: 1.1rem;
  background-color: #677e11;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btnFormArchive {
  margin: 30px auto 20px;
}

.btnFormSave:hover,
.btnFormDelete:hover,
.btnFormCancel:hover,
.btnFormArchive:hover,
.btnFormEdit:hover,
.btn_closeModal:hover {
  background-color: #7e9b16;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
}

@media (max-width: 500px) {
  btnFormSave,
  .btnFormArchive,
  .btnFormEdit {
    width: 250px;
  }
}

input::placeholder {
  color: gray;
}

.title_newEmployee {
  font-size: 2rem;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.formChangeEmployee
  .box_endDate
  .box_input
  .MuiInputBase-input
  .MuiOutlinedInput-input
  input {
  height: 40px;
}
.formChangeEmployee .box_endDate .box_input #\:rd\: input {
  height: 40px;
}

.formChangeEmployee
  .box_endDate
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input
  input,
.box_StartDate .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.box_dateOfBirth .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  margin: 10px;
  padding: 10px;
  height: 20px;
}

.formChangeEmployee
  .box_endDate
  .MuiInputBase-formControl
  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  height: 35px;
}

.main_newEmployee .box_formEntree .boxDate .box_dateOfBirth label,
.main_newEmployee .box_formEntree .boxDate .box_startDate label {
  padding-left: 8px;
  padding-top: 3px;
}
/* .box_table .editEmployeeModal .box_endDate label {
  padding-left: 8px;
  padding-top: 3px;
} */

.main_ListEmployees .box_searchGlobal input {
  height: 45px;
}

.main_ListEmployees {
  padding-bottom: 30px;
}

.MuiInputBase-input .MuiOutlinedInput-input .css-1x5jdmq {
  margin: 10px;
}

.editEmployeeModal .box_State .dropdown,
.main_newEmployee .box_State .dropdown {
  z-index: 10;
}

.editEmployeeModal .dropdown,
.main_newEmployee .dropdown {
  position: relative;
  display: inline-block;
  background-color: #f6f8f2;
}

.main_ListEmployees .btn_Reset {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.editEmployeeModal .dropdownToggle,
.main_newEmployee .dropdownToggle {
  border: 1px solid #adca76;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.main_newEmployee .dropdownToggle {
  background-color: #fbfbfb;
}

.editEmployeeModal .dropdownToggle {
  padding: 4px 12px;
  height: 35px;
}
.main_newEmployee .dropdownToggle {
  padding: 8px 12px;
}

.main_newEmployee .address .dropdownToggle {
  background-color: #f1f1f1;
}

.editEmployeeModal .address .dropdownToggle {
  /* background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)) rgb(214, 219, 220); */
  background-color: #e0dddd;
}

/* styles pour la flèche du dropdown */
.main_newEmployee .arrow {
  margin-left: 8px;
}

/* styles pour le menu déroulant */
.editEmployeeModal .dropdownMenu,
.main_newEmployee .dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.main_newEmployee .box_Department .dropdownMenu,
.editEmployeeModal .box_Department .dropdownMenu {
  background-color: #fbfbfb;
}

.editEmployeeModal .address .dropdownMenu {
  background-color: #e0dddd;
}

.main_newEmployee .address .dropdownOption {
  background-color: rgb(239, 238, 238);
}

.main_newEmployee .dropdownOption:hover,
.editEmployeeModal .dropdownOption:hover {
  background-color: #f2f2f2;
}

.main_newEmployee .address {
  background: linear-gradient(to bottom, transparent, rgb(241, 241, 241))
    rgb(235, 235, 235);
}

.box_table .btn_Reset {
  box-shadow: 1px 2px 6px rgb(0 0 0 / 40%);
}

.editEmployeeModal .dropdownOptionButton,
.main_newEmployee .dropdownOptionButton {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 8px 12px;
}

/* change Employee data */
.bg_modalConfirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 5, 5, 0.6);
}

.main_newEmployee .bg_modalConfirm {
  z-index: 9999;
}

.box_table .bg_modalConfirm {
  z-index: 998;
}
.editEmployeeModal .address {
  /* background-color: #b9d851; */
  background-color: #e0dddd;
  padding-bottom: 20px;
}

.editEmployeeModal .formChangeEmployee {
  text-align: center;
}

.editEmployeeModal .errorMessage {
  font-size: 0.9rem;
}

.editEmployeeModal .name {
  font-weight: bold;
}

.box_changeModalName p {
  margin-left: 6px;
  margin-right: 6px;
}

.box_changeModalName .box_input {
  padding-bottom: 60px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.editEmployeeModal {
  animation: fadeIn 0.3s ease-out forwards, slideInEdit 0.3s ease-out forwards;
}
.formAddModal {
  animation: fadeIn 0.3s ease-out forwards,
    slideInConfirm 0.3s ease-out forwards;
}

.bg_modalConfirm {
  animation: fadeIn 0.3s ease-out forwards;
}
.bg_modalConfirm.fadeOut {
  animation: fadeOut 0.3s ease-out forwards;
}
.editEmployeeModal.fadeOut {
  animation: fadeOut 0.3s ease-out forwards, slideOutEdit 0.3s ease-out forwards;
}

.formAddModal.fadeOut {
  animation: fadeOut 0.3s ease-out forwards,
    slideOutConfirm 0.3s ease-out forwards;
}

@keyframes slideInEdit {
  0% {
    transform: translateX(100%) translateY(-50%);
  }
  100% {
    transform: translateX(0) translateY(-50%);
  }
}

@keyframes slideOutEdit {
  0% {
    transform: translateX(0) translateY(-50%);
  }
  100% {
    transform: translateX(100%) translateY(-50%);
  }
}

@keyframes slideInConfirm {
  0% {
    transform: translateX(100%) translate(-50%, -50%);
  }
  100% {
    transform: translateX(0) translate(-50%, -50%);
  }
}

@keyframes slideOutConfirm {
  0% {
    transform: translateX(0) translate(-50%, -50%);
  }
  100% {
    transform: translateX(100%) translate(-50%, -50%);
  }
}

@media (max-width: 900px) {
  .editEmployeeModal {
    animation: fadeIn 0.3s ease-out forwards,
      slideInConfirm 0.3s ease-out forwards;
  }
  .editEmployeeModal.fadeOut {
    animation: fadeOut 0.3s ease-out forwards,
      slideOutConfirm 0.3s ease-out forwards;
  }
}

.dropdownMenu {
  max-height: 200px;
  overflow-y: auto;
}
