body {
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  color: #494848;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sr-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  white-space: nowrap;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.box_app {
  display: flex;
  text-align: center;
}
@media (max-width: 500px) {
  .box_app {
    flex-direction: column;
  }
}
.box_navHome {
  display: flex;
  justify-content: center;
}
.box_home,
.main_newEmployee {
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 500px) {
  .br {
    display: none;
  }
}

h1,
h2 {
  color: #545252;
}

.main_newEmployee .pageApp_title {
  margin-top: 30px;
}

.main_ListEmployees .pageApp_title {
  margin-top: 20px;
}

.pageApp_title{
  margin-bottom: 20px;
  font-size: 2.4rem;
  margin: 20px auto 20px;
  width: 350px;
}

.titleErrorLoading{
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: bold;
  margin: 30px auto 30px;
  max-width: 800px;
}

.box_imgErrorLoading{
  width: 500px;
  height: 300px;
  margin: 40px auto 20px;
}

.box_imgErrorLoading img{
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .titleErrorLoading{
    font-size: 1.2rem;
    width: 350px;
  }
  
  .box_imgErrorLoading{
    width: 350px;
    height: 200px;
  }
}

@media (max-width: 500px) {
  .pageApp_title {
    font-size: 2rem;
  }
}

/* spinner */
#containerSpinner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner {
  margin-top: -400px;
  margin-left: -75px;
}

.spinner {
  height: 120px;
  width: 120px;
  border: 6px solid;
  border-color: #546a03 transparent #546a03 transparent;
  border-radius: 50%;
  animation: spin 1.4s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.textLink {
  margin: 0 auto;
  font-weight: bold;
}

.linkApp > svg {
  color: #657a1b;
}

.linkApp:hover > svg {
  color: #728c14;
}

.box_navHome .linkApp > svg {
  font-size: 5rem;
  height: 30%;
  margin-bottom: 30px;
}

header .linkApp > svg {
  font-size: 2.8rem;
}

header .linkApp .br_homeTitle {
  display: none;
}

.linkApp:hover {
  background: linear-gradient(
    335deg,
    hsl(73, 71%, 43%) 45%,
    hsl(73, 76%, 40%) 55%
  );
}

header .linkApp:hover {
  border-left: 11px solid hsl(73, 74%, 38%);
  box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.5);
}
.box_navHome .linkApp:hover {
  box-shadow: -40px 40px 40px rgba(0, 0, 0, 0.5);
  border-left: 30px solid hsl(73, 75%, 38%);
}

.linkApp {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  filter: contrast(1.4) brightness(0.8);
  background: linear-gradient(144deg, #87a420 40%, #91b02d 50%, #9fbc36 60%);
  color: #595a59;
  border-radius: 0 8px 8px 0;
}
.box_navHome .linkApp {
  flex-direction: column;
  width: 300px;
  height: 450px;
  padding: 30px;
  border-left: 30px solid hsl(73, 75%, 35%);
  transform: rotate(-5deg) skewX(10deg) scale(0.8);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

header .linkApp {
  width: 280px;
  height: 90px;
  padding: 10px;
  margin: 10px 30px 20px 30px;
  margin-left: 6px;
  border-left: 11px solid #7e9b16;
  transform: rotate(-2deg) skewX(10deg) scale(0.8);
  box-shadow: -40px 40px 40px rgba(0, 0, 0, 0.5);
}

header .linkApp .textLink {
  color: #5a6e2d;
}

.linkApp:before {
  content: '';
  position: absolute;
  left: 0;
}

.box_navHome .linkApp:before {
  top: 0;
  height: 100%;
  width: 30px;
  transform: skewY(-45deg) translate(-57px, -43px);
  background: linear-gradient(
    148deg,
    #718722 0%,
    #718722 55%,
    hsl(73deg 58.9% 36.47%) 70%,
    hsl(73deg 58.9% 36.47%) 100%
  );
}

header .linkApp:before {
  height: 100%;
  width: 16px;
  transform: skewY(311deg) translate(-26px, -20px);
  background: hsl(73, 58%, 32%);
  top: -1px;
}

.linkApp:after {
  content: '';
  background: repeating-linear-gradient(
    0deg,
    #a7a7a7 0,
    #b2b2b2 1px,
    #fff 1px,
    #fff 3px
  );
  position: absolute;
  bottom: 0;
  left: 0;
}
.box_navHome .linkApp:after {
  height: 30px;
  transform: skewX(-45deg) translate(-11px, 30px);
  width: 106%;
}

header .linkApp:after {
  height: 17px;
  transform: skewX(318deg) translate(-6px, 17px);
  width: 102%;
  left: 4px;
}

.box_home .linkApp:hover .textLink {
  color: #81974a;
}
.box_home .linkApp .textLink {
  font-size: 2rem;
  color: #6a7d3b;
  text-shadow: 1px 1px #7b9731, 1px 2px 1px #7b9731, 1px 3px 1px #474141,
    1px 3px 4px rgba(16, 16, 16, 0.4), 1px 3px 4px rgba(16, 16, 16, 0.3);
}

@media (max-width: 700px) {
  .box_navHome .linkApp:hover {
    box-shadow: -30px 30px 30px rgba(0, 0, 0, 0.5);
  }
  header .linkApp {
    margin-right: 10px;
  }
  header .linkApp .textLink {
    margin-left: 20px;
  }
  .box_navHome .linkApp > svg {
    font-size: 3rem;
    height: 25%;
    margin-bottom: 30px;
  }

  .box_navHome .linkApp:hover {
    border-left: 12px solid #7e9b16;
  }
  
  .box_navHome .linkApp {
    width: 160px;
    height: 240px;
    padding: 10px;
    margin-left: 6px;
    border-left: 12px solid #7e9b16;
    transform: rotate(-2deg) skewX(10deg) scale(0.8);
  }
  .box_home .linkApp .textLink {
    font-size: 1.2rem;
    color: #677e11;
    text-shadow: 1px 1px #7b9731, 1px 1px 1px #7b9731, 1px 2px 1px #4f4f4f,
      1px 1px 1px rgba(16, 16, 16, 0.6);
  }
  .box_navHome .linkApp:before {
    content: '';
    width: 16px;
    transform: skewY(-45deg) translate(-28px, -20px);
  }
  .box_navHome .linkApp:after {
    content: '';
    height: 17px;
    transform: skewX(-45deg) translate(-6px, 17px);
    left: 3px;
  }
}

@media (max-width: 500px) {
  header .linkApp .br_homeTitle {
    display: block;
  }
  header .linkApp .textLink {
    text-align: center;
  }
}

.box_home {
  min-height: 100vh;
  background: linear-gradient(to bottom, transparent, rgb(255, 255, 255))
    rgb(224, 229, 230);
}

.box_home img {
  margin-top: 30px;
  width: 280px;
  height: 250px;
}

.main_newEmployee {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
}

@media (max-width: 900px) {
  .main_newEmployee {
    flex-direction: column;
  }
}

.boxDate input {
  border-radius: 10px;
  box-shadow: inset -6px -6px 6px #e1e1e1, inset 6px 6px 6px white;
  outline: 1px solid rgb(220, 239, 232);
}

@media (max-width: 1000px) {
  .box_home img {
    margin: 20px auto 0;
  }
  .main_newEmployee header {
    width: 400px;
  }
}
@media (max-width: 900px) {
  .main_newEmployee {
    flex-direction: column;
  }
  .main_newEmployee header {
    width: 100%;
  }
}

.boxName {
  display: flex;
  justify-content: center;
}

.box_formEntree {
  position: relative;
}

.boxDate {
  display: flex;
  justify-content: center;
}

.box_dateOfBirth,
.box_startDate,
.box_endDate {
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.box_endDate .text_endDate,
.box_startDate .text_startDate,
.box_dateOfBirth .text_dateOfBirth {
  margin-right: 10px;
}

.box_startDate .css-1ralhbl-MuiFormControl-root-MuiTextField-root,
.box_dateOfBirth .css-1ralhbl-MuiFormControl-root-MuiTextField-root {
  vertical-align: middle;
}

.box_startDate
  .css-1ralhbl-MuiFormControl-root-MuiTextField-root
  .MuiInputBase-input,
.box_endDate
  .css-1ralhbl-MuiFormControl-root-MuiTextField-root
  .MuiInputBase-input,
.box_dateOfBirth
  .css-1ralhbl-MuiFormControl-root-MuiTextField-root
  .MuiInputBase-input {
  height: 20px;
  padding: 8px 8px;
}

@media (max-width: 700px) {
  .boxDate {
    flex-direction: column;
  }
  .box_startDate {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .boxDate .box_startDate .text-startDate {
    margin-left: 0;
  }

  .box_endDate,
  .box_dateOfBirth {
    margin-bottom: 15px;
  }
}
.editEmployeeModal
  .box_endDate
  .MuiInputBase-formControl
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 40px;
  padding: 8px 8px;
}
.editEmployeeModal
  .box_endDate
  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root
  input {
  height: 20px;
}

@media (max-width: 500px) {
  .box_endDate,
  .box_dateOfBirth,
  .box_startDate {
    margin-right: 0;
    margin-left: 0;
  }
}

.errorMessage {
  position: absolute;
  margin: 0 0 0 0;
  bottom: -18px;
  font-weight: 600;
  color: #d21f1f;
  font-size: 0.8rem;
}

.box_endDate.errorBorder fieldset,
.box_dateOfBirth.errorBorder fieldset,
.box_startDate.errorBorder fieldset,
.form-item input.errorBorder {
  border: 1px solid #d21f1f;
}

.address {
  margin: 20px auto 10px;
}

fieldset {
  border: 1px solid #57810b;
}

.box_State li.focused,
.box_Department li.focused,
.box_State .dropdownMenu li:hover,
.box_Department .dropdownMenu li:hover {
  background-color: #bcd178;
}

@media (max-width: 650px) {
  .boxName {
    display: flex;
    flex-direction: column;
  }
}

.formApp .address {
  background: linear-gradient(to bottom, transparent, rgb(245 245 245))
    rgb(224 228 228);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#zipCode {
  max-width: 330px;
}

@media (max-width: 650px), (min-width: 900px) and (max-width: 1000px) {
  .address {
    flex-direction: column;
    margin: 20px auto 20px;
  }
  #zipCode {
    margin-bottom: 20px;
  }
}

.box_titleModal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formAddModal {
  min-width: 500px;
  min-height: 300px;
  left: 50%;
}

.editEmployeeModal {
  right: 100px;
  height: auto;
  z-index:999;
}

.editEmployeeModal .box_titleModal,
.formAddModal.confirmationModal .box_titleModal {
  border-bottom: 2px solid #677e11;
}
.editEmployeeModal.deleteEmployeeModal .box_titleModal,
.formAddModal.errorConfirmationModal .box_titleModal {
  border-bottom: 2px solid #e01111;
}

.formAppModal .box_titleModal {
  margin-top: 20px;
}

.formAppModal {
  position: fixed;
  top: 50%;
  max-height: 99%;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: -40px 40px 40px rgba(0, 0, 0, 0.7);
  padding: 20px 30px 20px 30px;
  border-radius: 8px;
}

.formAddModal{
  z-index: 9999;
}

.editEmployeeModal.deleteEmployeeModal,
.formAddModal.errorConfirmationModal {
  box-sizing: border-box;
  border: 5px solid #d32f2f;
}

.editEmployeeModal .box_changeModalName {
  display: flex;
  justify-content: center;
}

.editEmployeeModal .box_changeModalName .box_nameLeft,
.editEmployeeModal .box_changeModalName .box_nameRight {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.box_changeEmployeeData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box_nameRight {
  margin-right: 10px;
}

.box_nameLeft {
  margin-left: 10px;
}

.editEmployeeModal .box_changeModalName {
  margin-top: 20px;
  width: 300px;
}

.box_titleModal h2 {
  font-size: 1.6rem;
}

@media (max-width: 900px) {
  .editEmployeeModal {
    right: inherit;
    left: 50%;
  }
}
@media (max-width: 700px) {
  .editEmployeeModal .box_titleModal {
    margin-top: 40px;
  }
  .editEmployeeModal .box_btnsDelete {
    flex-direction: column;
  }
  .editEmployeeModal .box_btnsDelete button {
    margin-top: 20px;
  }

  .formAddModal {
    min-width: 350px;
  }
  .box_titleModal h2 {
    font-size: 1.4rem;
  }
}

.editEmployeeModal {
  overflow-y: auto;
  padding-right: 45px; 
}

.formAppModal .iconCheckedModal {
  font-size: 2.3rem;
  margin-right: 20px;
}

.modal-title {
  padding-right: 20px;
}

@media (max-width: 500px) {
  .iconCheckedModal {
    font-size: 2rem;
  }

  .formAppModal {
    width: 95%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.btn_closeModal {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.btn_closeModal_icon {
  width: 25px;
  height: 25px;
}

.containerNewEmployee {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.titleService {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
  color: #545252;
}

.header_ListEmployees {
  background: linear-gradient(to bottom, transparent, rgb(226, 229, 229))
    rgb(214, 219, 220);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box_logoService {
  display: flex;
  width: 350px;
  align-items: center;
}

.header_ListEmployees img {
  margin-left: 20px;
  width: 100px;
  height: 92px;
}

@media (max-width: 1000px) {
  .header_ListEmployees img {
    margin: 10px 0 0 0;
    width: 80px;
    height: 74px; 
  }
  .titleService {
    font-size: 1.5rem;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .box_logoService {
    width: 140px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

#create-employee {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerNewEmployee .btnFormSave {
  margin: 20px auto 30px;
}

.btnFormEdit {
  margin-bottom: 20px;
}

.box_btnsDelete {
  display: flex;
  margin: 20px auto;
}

.btnFormSave,
.btnFormArchive,
.btnFormEdit {
  padding: 10px 20px;
  margin-top: 10px;
  width: 300px;
}

.btnFormDelete,
.btnFormCancel {
  padding: 10px 10px;
  width: 180px;
  margin: 5px 20px;
}

.btn_closeModal,
.btnApp{
  color: #fff;
  background-color: #677e11;
  border: none;
}

.btnApp{
  text-align: center;
  border-radius: 15px;
  font-size: 1.1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btnFormArchive {
  margin: 30px auto 20px;
}

.btnApp:hover{
  box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
}

.btnApp:hover,
.btn_closeModal:hover {
  background-color: #7e9b16;
}

@media (max-width: 500px) {
  .btnApp{
    width: 250px;
  }
}

.formChangeEmployee
  .box_endDate
  .box_input
  .MuiInputBase-input
  .MuiOutlinedInput-input
  input ,.formChangeEmployee .box_endDate .box_input #\:rd\: input {
  height: 40px;
}

.formChangeEmployee
  .box_endDate
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input
  input,
.box_startDate .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.box_dateOfBirth .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  margin: 10px;
  padding: 10px;
  height: 20px;
}

.formChangeEmployee .css-1y9arzu .MuiInputBase-input,
.formChangeEmployee
  .box_endDate
  .MuiInputBase-formControl
  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  height: 40px;
}


.box_table .editEmployeeModal .box_endDate label,
.main_newEmployee .box_formEntree .boxDate .box_dateOfBirth label,
.main_newEmployee .box_formEntree .boxDate .box_startDate label {
  padding-left: 8px;
  padding-right: 10px;
  padding-top: 3px;
}

.main_ListEmployees {
  padding-bottom: 30px;
}

.MuiInputBase-input .MuiOutlinedInput-input .css-1x5jdmq {
  margin: 10px;
}

.formApp .box_State .dropdown {
  z-index: 10;
}

.formApp .dropdown {
  position: relative;
  display: inline-block;
}

.formApp .dropdownToggle {
  border: 1px solid #57810b;
  padding: 6px 12px 6px 30px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  height: 35px;
}

.box_Department .dropdownToggle {
  background-color: #fff;
}

.address .dropdownToggle {
  background-color: #ececec;
}

.formApp .arrow {
  margin-left: 8px;
  color: #7d7878;
}

.formApp .dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formApp .box_Department .dropdownMenu {
  background-color: #fff;
}

.formApp .box_State .dropdownMenu {
  background: rgb(238 241 241);
}

.formApp .dropdownOptionButton {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 8px 12px;
}

.bg_modalConfirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 5, 5, 0.6);
}

.main_newEmployee .bg_modalConfirm {
  z-index: 9999;
}

.box_table .bg_modalConfirm {
  z-index: 998;
}

.editEmployeeModal .address {
  padding-bottom: 20px;
}

.editEmployeeModal .formChangeEmployee {
  text-align: center;
}

.editEmployeeModal .name {
  font-weight: bold;
}

.box_changeModalName p {
  margin-left: 6px;
  margin-right: 6px;
}

.box_changeModalName .box_input {
  padding-bottom: 60px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.editEmployeeModal {
  animation: fadeIn 0.3s ease-out forwards, slideInEdit 0.3s ease-out forwards;
}
.formAddModal {
  animation: fadeIn 0.3s ease-out forwards,
    slideInConfirm 0.3s ease-out forwards;
}

.bg_modalConfirm {
  animation: fadeIn 0.3s ease-out forwards;
}
.bg_modalConfirm.fadeOut {
  animation: fadeOut 0.3s ease-out forwards;
}
.editEmployeeModal.fadeOut {
  animation: fadeOut 0.3s ease-out forwards, slideOutEdit 0.3s ease-out forwards;
}

.formAddModal.fadeOut {
  animation: fadeOut 0.3s ease-out forwards,
    slideOutConfirm 0.3s ease-out forwards;
}

@keyframes slideInEdit {
  0% {
    transform: translateX(100%) translateY(-50%);
  }
  100% {
    transform: translateX(0) translateY(-50%);
  }
}

@keyframes slideOutEdit {
  0% {
    transform: translateX(0) translateY(-50%);
  }
  100% {
    transform: translateX(100%) translateY(-50%);
  }
}

@keyframes slideInConfirm {
  0% {
    transform: translateX(100%) translate(-50%, -50%);
  }
  100% {
    transform: translateX(0) translate(-50%, -50%);
  }
}

@keyframes slideOutConfirm {
  0% {
    transform: translateX(0) translate(-50%, -50%);
  }
  100% {
    transform: translateX(100%) translate(-50%, -50%);
  }
}

@media (max-width: 900px) {
  .editEmployeeModal {
    animation: fadeIn 0.3s ease-out forwards,
      slideInConfirm 0.3s ease-out forwards;
  }
  .editEmployeeModal.fadeOut {
    animation: fadeOut 0.3s ease-out forwards,
      slideOutConfirm 0.3s ease-out forwards;
  }
}

.formApp .dropdownMenu {
  max-height: 200px;
  overflow-y: auto;
}

.editEmployeeModal .box_Department .dropdownMenu {
  max-height: 100px;
  overflow-y: auto;
}

.form-item {
  position: relative;
  background-color: #fff;
  height: 35px;
  margin-bottom: 20px;
  width: 280px;
}

.main_newEmployee
  .boxDate
  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px 10px;
}

.main_newEmployee .boxDate {
  width: 240px;
}

.form-item input {
  text-align: center;
  padding: 10px 10px 10px 10px;
  height: 100%;
  width: 260px;
  font-weight: 600;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #bbb;
  color: #5a5a5a;
  box-shadow: inset -6px -6px 6px #e1e1e1, inset 6px 6px 6px white;
  outline: 1px solid rgb(220, 239, 232);
}

.form-item input:focus {
  border: 2px solid #97ac53;
}

.form-item input ~ label {
  padding: 2px 10px;
  background-color: transparent;
  position: absolute;
  color: #747474;
  font-size: 0.8rem;
  top: 5px;
  left: 15px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.formApp .form-item input:focus ~ label {
  padding: 2px 2px;
  background-color: inherit;
  font-weight: 700;
  font-size: 12px;
  top: -12px;
  left: 15px;
  color: #7a8f37;
  border-inline: 1px solid #97ac53;
}

.main_newEmployee .boxName .form-item {
  margin-top: 10px;
}

.formApp .form-item label.up {
  padding: 2px 10px;
  background-color: inherit;
  font-weight: 700;
  font-size: 0.8rem;
  top: -12px;
  left: 15px;
  color: #616060;
  border-inline: 1px solid rgb(126, 129, 129);
}

.address .box_streetCity {
  display: flex;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .boxName .form-item {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 900px) {
  .address .box_streetCity {
    flex-direction: column;
  }

  .address .box_streetCity .form-item {
    margin-left: 0;
    margin-right: 0;
  }
}

form .address input:focus ~ label,
form .address label.up {
  background: linear-gradient(
    to top,
    rgb(255 255 255) 30%,
    rgb(255 255 255) 30%,
    rgb(228 230 230) 30%,
    rgb(228 230 230) 80%
  );
  border-inline: 1px solid rgb(126, 129, 129);
}

form .address #zipCode:focus ~ label,
form .address #zipCode ~ label.up {
background: linear-gradient( to top, rgb(255 255 255) 30%, rgb(255 255 255) 30%, #f3f4f4 30%, #ececec 80% );
}

form .form-item input:focus ~ label {
  color: #7e9046;
}

form .address .form__linput {
  margin-bottom: 20px;
}

form .box_Department {
  margin-bottom: 20px;
  margin-top: 20px;
}

form .address .box_State {
  margin-bottom: 25px;
  margin-top: 8px;
}

form .address .box_State .p_label,
form .box_Department .p_label {
  font-size: 0.9rem;
  padding-inline: 0.5em;
  user-select: none;
  cursor: text;
  color: #616060;
  font-weight: 700;
  letter-spacing: 1px;
}

.form__label {
  transition: top 180ms linear, font-size 180ms linear;
  position: absolute;
  left: 0.9em;
  top: 50%;
  transform: translateY(-50%);
  padding-inline: 0.5em;
  user-select: none;
  cursor: text;
  font-weight: 500;
  letter-spacing: 1px;
}

.box_Department .form__label {
  background: #fff;
}

.box_Department .form__label,
.box_State .form__label {
  top: 0px;
  margin: 0;
  font-size: 0.9rem;
  border-inline: 1px solid rgb(126, 129, 129);
}

.main_newEmployee .address .box_State .p_label,
.formChangeEmployee .address .form__label {
  background-color: #e9e9e9;
}

.form-item {
  margin-right: 30px;
  margin-left: 30px;
}

@media (max-width: 500px) {
  .form-item {
    margin-right: 0;
    margin-left: 0;
  }
}

.main_ListEmployees .inputSearchByProperty,
.main_ListEmployees .box_searchGlobal input {
  box-shadow: inset -6px -6px 6px #e1e1e1, inset 6px 6px 6px white;
  border-radius: 10px;
}
/* 
.box_table .btn_Reset,
.box_table .btnShowAllColumns  {
  border-radius: 10px;
} */

/* .box_table .toggle-btnManageTable {
  border-radius:  18px 18px 0 0;
} */

/* .box_table .btnOpenManageTable:hover ,
.box_table .btnOpenManageTable {
  border-radius: 0;
} */
